

body
{
    background-image: url("https://www.incimages.com/uploaded_files/image/1024x576/getty_517610514_353435.jpg");
    background-size: cover;
   
}
.navbar
{
margin: 0px;
padding:20px;
background-color:white;
opacity:0.6;
color:black;
font-family:'Roboto',sans-serif;
font-style: italic;
border-radius:20px;
font-size:25px;
}
a
{
color:grey;
float:right;
text-decoration:none;
font-style:normal;
padding-right:20px;
}
a:hover{
background-color:black;
color:white;
border-radius:15px;0
font-size:30px;
padding-left:10px;
}
.pred{
text-align:center;
background-color:black;
width:800px;
opacity:0.8;
margin:auto;
margin-top:40px;
border-radius:20px;
font-weight:20px;
color:grey;
font-size:20px;

}
.pred:hover{
box-shadow: 15px 15px 20px 10px white;
}
span{
display:inline-block;
padding-left:10px;
padding-tp:5px;
}